.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  margin-top: 0;
  margin-bottom: 24px;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 16px;
  padding: 0;
}

.listItem {
  padding: 0;
  list-style: none;
}
